<div class="container-fluid" ng-controller="MainCtrl" ng-init="init()">
  <div class="row">
    <div class="col-md-12 iteration-header">
      <!--h1>Iteración 
        <span ng-click="editMode=!editMode" ng-show="!editMode">
          {{currentIteration}}
        </span>
        <input type="number" min="0" ng-max="iterations.length" ng-model="currentIteration" ng-change="handleIterationChange()" ng-model-options="{debounce:500}"  ng-show="editMode">
      </h1-->
      <h1>Iteración 
        <input type="number" min="0" max="99" ng-model="currentIteration" ng-change="handleIterationChange()">
      </h1>
    </div>
    <div class="col-md-12">
      <md-slider ng-model="currentIteration" min="0" max="99">
      </md-slider>
    </div>
    <div class="col-md-4">
      <md-slider ng-model="speed" min="1" max="4" ng-change="updateSpeed()">
      </md-slider>
    </div>
    <div class="col-md-2">
      {{dirtyMap(speed)}}
    </div>
    <div class="col-md-12 controls">
      <button ng-click="prevIteration()" ng-disabled = "isPlaying">Prev</button>
      <button ng-click="playIteration()">{{play}}</button>
      <button ng-click="nextIteration()" ng-disabled = "isPlaying">Next</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1>Entrada</h1>
      <h2>Semilla</h2>
      <p>{{iterations[currentIteration].seed}}</p>
    </div>
    <div class="col-md-6">
      <h1>Salida</h1>
      <h2>Diversidad</h2>
      <div ng-repeat="diversity in iterations[currentIteration].diversity">
        <p>{{diversity.value}}: {{diversity.text}}</p>
      </div>
    </div>
</div>
